p {
    font-size: 20px;
  }
  .bold {
    font-weight: bold;
    font-size: 20px;
  }

  .choice1 {
    margin: 0 100px 0 100px;
    padding: 60px 60px 40px;
    background-color: #b4b4e3;
    border-radius: 20px;
    font-size: 25px;
  }

  .choice2 {
    margin: 0 120px 0 100px;
    padding: 60px 75px 40px;
    background-color: #57e815;
    border-radius: 20px;
    font-size: 25px;
  }